<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718166834847-cbcv19u6pvrkh6ao0a540vni239unkuq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718166834847-cbcv19u6pvrkh6ao0a540vni239unkuq</string>
	<key>API_KEY</key>
	<string>AIzaSyCIZ5eGX_Hx6xvy7RRQ6L0BocNwZShnu8s</string>
	<key>GCM_SENDER_ID</key>
	<string>718166834847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mmhamid.pwot</string>
	<key>PROJECT_ID</key>
	<string>wilvcdn2021</string>
	<key>STORAGE_BUCKET</key>
	<string>wilvcdn2021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718166834847:ios:e575573c32db6291c3acaa</string>
</dict>
</plist>